@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Password Manager - final project for "Ochrona danych w systemach informatycznych" course</p>
    <p>made by Marek Nowakowski</p>
</div>
